html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(black, rgb(110, 110, 110));
}

.display-4{
    text-shadow: 7px 7px 7px rgb(48, 48, 48);
}
.nav-link{
    transition-property: transform;
    transform: 1s;
    transition-duration: 3s;
    transition-timing-function: ease;
}

.portfolio{
    margin-right: auto;
}
.profile-img{
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-out;
    transform: scale(1);
    margin-bottom: 10px;
    height: 220px;
    width: 200px;
    border-radius: 50%;
}
.profile-img:hover{
    border-radius: 50%;
    text-align: center;
    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: ease-in;
    transform: scale(1.1);
}
.about-me{
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
.treehouse{
    height: 15px;
}
.bar{
    width: 90%;
    background-color: white;
}
.intro{
    /* border-bottom: white 1px solid; */
    width: 90%;
    margin: auto;
}


.projects{
    margin-bottom: 25px;
}

.cards:hover{
    transform: scale(1.1);
    transition-property: transform;
    background-color: white;
    transition-duration: .2s;
    transition-timing-function: linear;
}

.card{
margin-bottom: 5px;
}

.cards{
    margin-bottom: 25px;
    color: black;
    background-color: white;
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: linear;
}
h1{
    margin-top: 20px;
}
.bi-instagram:hover,
.bi-twitter:hover,
.bi-github:hover,
.bi-linkedin:hover,
.bi-envelope-open:hover{
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: linear;
    transform: rotate(25deg) scale(1.1);
}
.bi-instagram,
.bi-twitter,
.bi-github,
.bi-linkedin,
.bi-envelope-open{
    transition-property: transform;
    transition-duration: .2s;
    transition-timing-function: linear;
}
.bi-envelope-open{
margin-right: 5px;
margin-bottom: 3px;
}
.copy,
.email,
.social-svgs {
    text-align: center;
    color: white;
    margin: 0px;
}
.social-svgs{
    margin-bottom: 15px;
}
.email{
    color: black;
    margin-bottom: 8px;
}
.email:hover{
    color:yellow;
}
.copy{
    background: linear-gradient(black, rgb(110, 110, 110)); 
    color: white;
}
.bi-linkedin,
.bi-twitter,
.bi-github,
.bi-instagram {
    margin: 10px;
}
.bar-2{
    border-bottom:  solid 1px white;
    width: 90%;
}

.skillshtml,
.skillscss{
    height: 80px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.skills{
    height: 100px;
    text-align: center;
} 

@media(min-width: 768px){
.row{
    width: 95%;
    margin: auto;
    }
}

@media(min-width: 1024px){
.bar,
.bar-2{
    visibility: hidden;
    }
    .jumbotron{
        width: 100%;
    }
}





